set clipboard+=unnamed  "共享剪切板
syntax on "语法高亮
set ruler
"set nohls "取消匹配高亮
map <F1> ^
"递归映射
imap jk <Esc>
set relativenumber "相对行号
set cursorline     "突出显示当前行
set cursorcolumn   "突出显示当前列
set number
set fdm=marker
set keep-english-in-normal-and-restore-in-insert
let mapleader = "\<space>"
map <leader> @
let @a = 'ggVGy' "normal下：空格+a 全文复制
let @y = 'vi"y' "normal下且在""中： 空格+y 复制 "" 中的内容
let @p = 'vi"p'  "normal下且在""中： 空格+p  把 "" 中的内容替换为剪切板的内容
let @w = 'A;jkj'

map <leader><leader> @y
"非递归映射
inoremap $r $r('app.')<Esc>hi
inoremap <C-V> <Esc>p
":tabnext = gt
":tabprev = gT
"<CR> = 回车
"<C-o> = <Esc>
"C = Ctrl
"A = Alt


"跳转到标记m
map <A-m> `M
"将m改为M全局标签
map mm mM
nnoremap <A-l> :tabnext<CR>
nnoremap <A-h> :tabprev<CR>
inoremap <A-l> <C-o>gt
inoremap <A-h> <C-o>gT
"ctrl+c-> 保存退出(:tabc关闭tabs)
nnoremap <C-c> :wq<CR>
inoremap <C-c> <C-o>:wq<CR>
"ctrl+o->关闭其他所有tabs
nnoremap <C-o> :tabo<CR>
inoremap <C-o> <C-o>:tabo<CR>

"将剪切板的内容进行搜索
map <leader>s /<C-r>*<CR>
"打开寄存器
map <leader>r :reg<CR>
"打开marks
map <leader>m :marks<CR>

"光标在首列和首个非空白字符之间的切换。
noremap  <expr> 1  col('.') == 1 ? '^': '0'
"F2 切换显示行号
nnoremap <expr> <F2> &number ? ':set nonumber<CR>' : ':set number<CR>'
"如果弹出菜单可见（pumvisible() 返回 1，例如在自动补全中），则 <Tab> 键将用于选择下一个补全项；否则，它将插入一个制表符。
inoremap <expr> <Tab> pumvisible() ? "\<C-n>" : "\<Tab>"